.itemsTablePanel {
    /* background: linear-gradient(45deg, #4158d0, #c850c0); */
    background: linear-gradient(70deg, #2a46d4 60%,#c850c0 100%);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table.itemsTable {
    font-family: 'Montserrat';
    background: white;
    color: grey;
    margin: 10px;
    border-collapse: collapse;
    /* border: 1px solid #36304a; */
    border-radius: 10px;
    font-size: medium;
    overflow: hidden;
    text-align: center;
}

tr.itemsTableHead { 
    background: #36304a;
    color: white;
    height: 40px;
    font-weight: bolder;
}

tr.itemsTableRowOdd {
    background:#f8f8f3ec;
}

tr.itemsTableRowEven {
    background:#ffffff;
}

td.itemsTableDesc {
    min-width: 350px;
}

td.itemsTableVal {
    min-width: 90px;
}

.urlLink {
    color: purple;
    cursor: pointer;
}
