@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(../fonts/Lato-Regular.otf) format('opentype');
  }
  
  @font-face {
      font-family: 'Montserrat';
      font-weight: 900;
      src: local('Lato'), url(../fonts/Lato-Bold.otf) format('opentype');
  }
  
  @font-face {
      font-family: 'Montserrat';
      font-weight: 900;
      src: local('Lato'), url(../fonts/Lato-Black.otf) format('opentype');
  }